/nbproject/private/
/build/
/assets/Interface/Texts/*.properties
/assets/Interface/Paths/*.txt
# property file which holds the configuration
openkeeper.properties
*.png
*.j3m
*.j3o
*.mp2
*.wav
*.dll
*.dict
*.444
*.bmp
*.gif
*.psd
*.dat
# include custom made assets
!/assets/Interface/Fonts/*.png
!/assets/Materials/ModelViewer/*.j3m
!/assets/Textures/ModelViewer/*.png
!/assets/Textures/ModelViewer/*.jpg
*.csd
/dist/
/HiScores.okh
!/src/toniarts/openkeeper/gui/icons/openkeeper24.png
!/src/toniarts/openkeeper/gui/icons/openkeeper16.png
!/src/toniarts/openkeeper/gui/icons/openkeeper128.png
!/src/toniarts/openkeeper/gui/icons/openkeeper32.png
!/src/toniarts/openkeeper/gui/icons/openkeeper64.png
!/src/toniarts/openkeeper/gui/icons/openkeeper256.png
!/src/toniarts/openkeeper/gui/icons/openkeeper48.png
/bin/
/build/
test-output

*.so

log/*
**/nbproject/private/

.gradle
# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
lib/jME3*
**/bin/

.project
.classpath
.settings

**/gen/

**/Thumbs.db
local.properties

*.dylib
/build/

.gradle
# Class Files #
*.class