/nbproject/private/
/build/
/assets/Interface/Texts/*.properties
/assets/Interface/Paths/*.txt
# property file which holds the configuration
openkeeper.properties
*.png
*.j3m
*.j3o
*.mp2
*.wav
*.dll
*.dict
*.444
*.bmp
*.gif
*.psd
*.dat
# include custom made assets
!/assets/Interface/Fonts/*.png
!/assets/Materials/ModelViewer/*.j3m
!/assets/Textures/ModelViewer/*.png
!/assets/Textures/ModelViewer/*.jpg
*.csd
/dist/
/HiScores.okh